$color-ligher-gray: #ebebeb;
$color-medium-gray: #bfbfbf;
$color-light-gray: #ebebeb;
$color-dark-gray: #666666;
$color-dark-black: #333333;
$color-common-white: #ffffff;
$color-medium-blue: #252e7c;
$color-light-blue: #1259c3;
$color-medium-yellow: #fff159;
$color-medium-green: #00a650;
